<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Response Validate Test Site" verbose="1" >
    <test name="API Response Content Validation Test" >
        <classes>
<!--            <class name="com.evaluation.automation.api.test.APIResponseValidationTest"/>-->
        </classes>
    </test>
</suite>